/* - - - - - - - - - - - - - - - - - - - - -
body tags

- - - - - - - - - - - - - - - - - - - - - */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body#typo3-backend-php {
    overflow:hidden;
}

body#typo3-backend-php > div {
    display:table !important;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}
body#typo3-backend-php > div > div {
    display:table-cell !important;
    background-color:white  !important;
    width:auto !important;
    height:100%;
}

body#typo3-backend-php div.typo3-backendcontent-container {
    position: relative;
}


body#typo3-backend-php div.typo3-backendcontent-container > div {
    background-color:blue;
    position:relative !important;
    width:100%;
    height:10%;
}

body#typo3-backend-php div.typo3-backendcontent-container > div.typo3-backend-content-container-mainRow {
    display:table !important;
    background-color:green;
    height:90%;
}

body#typo3-backend-php div.typo3-backendcontent-container > div.typo3-backend-content-container-mainRow > div {
    display:table-cell;
    height:100%;
    background-color:red;
}

div#typo3-modulemenu-container > ul {
    clear:both;
}
/* - - - - - - - - - - - - - - - - - - - - -
specific wrappers

The "template" class is usually instantiated as either
bicDoc, mediumDoc, smallDoc or noDoc.
Each of these will result in the whole page content between the bodytags being
wrapped in a DIV-section with a class.
The class name will be "typo3-[classname]"
In particular we set the width of these wrapper-sections:
- - - - - - - - - - - - - - - - - - - - - */

div.typo3-bigDoc,
div.typo3-noDoc {
	margin-left: 10px;
	margin-top: 5px;
	width: 740px;
}

div.typo3-noDoc h2 {
	width: 740px;
}

div.typo3-mediumDoc {
	width: 470px;
}

div.typo3-smallDoc {
	width: 350px;
}

div.typo3-fullDoc {
	height: 100%;
	width: 100%;
}